# Custom operator values
operator:
  logLevel: info
  resources:
    limits:
      cpu: 2
      memory: 2Gi
    requests:
      cpu: 500m
      memory: 512Mi

scheduler:
  enabled: true
  replicas: 2
  resources:
    limits:
      cpu: 1
      memory: 1Gi

agent:
  enabled: true
  runtime: containerd
  daemonset:
    updateStrategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 1